body {
    max-width: 50em;
    color: #ffffff;
    padding: 0;
}

main, .navbar {
    padding: .5rem 1rem;
}

img.right {
    float: right;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.clean, a.clean:visited {
    color: #fff;
}

a, a:visited {
    color: #96dbe8
}

a:hover {
    color: #d56da0;
    border-bottom: 0;
    text-decoration: underline;
}

a.clean:hover {
    border-bottom: 0;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
