:root {
    font-size: calc(1rem + 0.3vw);
}
    
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    color: #ffffff;
    padding: 0;
    background-color: #222;
    margin: 0 auto;
    max-width: 40rem;
}

.navbar {
    padding: .5rem 1rem;
}

/* Headers */

h1 {
  font-size:1.8em;
}

h2 {
  font-size:1.5em;
}

h3 {
  font-size:1.3em;
}

/* Links */

a {
    text-decoration: none;
}

a.clean, a.clean:visited {
    color: #fff;
}

a, a:visited {
    color: #96dbe8
}

a:hover {
    color: #d56da0;
    border-bottom: 0;
    text-decoration: underline;
}

a.clean:hover {
    border-bottom: 0;
}

/* Typography */

p {
    line-height: 1.6;
}

ul, ol {
    padding-left: 0;
    margin-left: 1.5rem;
}

li {
    margin-bottom: .3rem;
    line-height: 1.6;
}

/* Images */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

img.right {
    float: right;
    padding: 1rem 0 1rem 1rem
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Components */

.post-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.post-list-item {
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    padding: .5rem .5rem;
}

.post-list-item-date {
    font-variant: tabular-nums;
    white-space: nowrap;
}


.post, .page {
    background-color: #292929;
    padding: .5rem 1rem;
}